.container[data-v-aa09f404]{margin:0 auto;max-width:600px;padding:20px}.submit-btn[data-v-aa09f404]{margin-top:20px;width:100%}.cards[data-v-aa09f404]{margin-top:20px;shadow:0 2px 4px rgba(0,0,0,.1)}
